USE [master]
GO
/****** Object:  Database [SalesManagement]    Script Date: 7/26/2022 7:29:25 PM ******/
CREATE DATABASE [QL_SHOPBANQUANAO] ON  PRIMARY 
( NAME = N'QL_SHOPBANQUANAO', FILENAME = N'D:\data\QL_SHOPBANQUANAO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_SHOPBANQUANAO_log', FILENAME = N'D:\data\QL_SHOPBANQUANAO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SHOPBANQUANAO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SHOPBANQUANAO]
GO
/****** Object:  StoredProcedure [dbo].[ChangePassword]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Stored procedures
CREATE PROC [dbo].[ChangePassword]
@email NVARCHAR(50), @oldPassword NVARCHAR(50), @newPassword NVARCHAR(50)
AS BEGIN
DECLARE @password NVARCHAR(50), @result bit
SELECT @password = Matkhau_NV FROM NHANVIEN WHERE Email_NV = @email
IF @password = @oldPassword
BEGIN
    UPDATE NHANVIEN SET Matkhau_NV = @newPassword WHERE Email_NV = @email
	SET @result = 1
END
ELSE SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa khách hàng
CREATE PROC [dbo].[DeleteCustomer]
@id INT
AS BEGIN
DECLARE @result BIT = 1
IF EXISTS(SELECT * FROM KHACHHANG WHERE Id_KH = @id)
	DELETE KHACHHANG WHERE Id_KH = @id
ELSE
	SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa nhân viên
CREATE PROC [dbo].[DeleteEmployee]
@id INT
AS BEGIN
DECLARE @result BIT = 1
IF EXISTS(SELECT * FROM NHANVIEN WHERE Id_NV = @id)
	DELETE NHANVIEN WHERE Id_NV = @id
ELSE
	SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Xóa sản phẩm 
CREATE PROC [dbo].[DeleteProduct]
@id int
AS BEGIN
DECLARE @result BIT = 1
IF EXISTS(SELECT * FROM SANPHAM WHERE Id_SP = @id)
	DELETE SANPHAM WHERE Id_SP = @id
ELSE
	SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteProductInBillInfo]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Xóa sản phẩm in chi tiết hóa đơn
CREATE PROC [dbo].[DeleteProductInBillInfo]
@id int
AS BEGIN
DECLARE @result BIT = 1
IF EXISTS(SELECT * FROM CHITIETHOADON WHERE Id_SanPham = @id)
	DELETE CHITIETHOADON WHERE Id_SanPham = @id
ELSE
	SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[GetCustumerId]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy id của khách hàng
CREATE PROC [dbo].[GetCustumerId]
@name NVARCHAR(50)
AS BEGIN
SELECT Id_KH FROM KHACHHANG WHERE Ten_KH = @name
END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeAddressPhoneNumber]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy địa chỉ và sđt của nhân viên
CREATE PROC [dbo].[GetEmployeeAddressPhoneNumber]
@email NVARCHAR(50)
AS BEGIN
SELECT Diachi_NV + ' | ' + Sodienthoai_NV FROM NHANVIEN WHERE Email_NV = @email
END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeIdName]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lấy ID, Name in Nhân viên
CREATE PROC [dbo].[GetEmployeeIdName]
@email NVARCHAR(50)
AS BEGIN
SELECT CONVERT(NVARCHAR(50), Id_NV) + ' | ' + Hoten_NV FROM NHANVIEN WHERE Email_NV = @email
END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeRole]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy vai trò của nhân viên
CREATE PROC [dbo].[GetEmployeeRole]
@email NVARCHAR(50)
AS BEGIN
SELECT Vaitro_NV FROM NHANVIEN WHERE Email_NV = @email
END

GO
/****** Object:  StoredProcedure [dbo].[GetProductId]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy id của sản phẩm
CREATE PROC [dbo].[GetProductId]
@name NVARCHAR(50)
AS BEGIN
SELECT Id_SP FROM SANPHAM WHERE Ten_SP = @name
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInApr]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hóa đơn của tháng 4
CREATE PROC [dbo].[GetRevenueInApr]
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-04-01' 
AND     Ngaythanhtoan <= '2022-03-30'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInAug]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 8
CREATE PROC [dbo].[GetRevenueInAug] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-08-01' 
AND     Ngaythanhtoan <= '2022-08-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInDec]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 12
CREATE PROC [dbo].[GetRevenueInDec]  
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-12-01' 
AND     Ngaythanhtoan <= '2022-12-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInFeb]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hóa đơn của tháng 2
CREATE PROC [dbo].[GetRevenueInFeb]
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-02-01' 
AND     Ngaythanhtoan <= '2022-02-28'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInJan]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hóa đơn của tháng 1
CREATE PROC [dbo].[GetRevenueInJan]
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-01-01' 
AND     Ngaythanhtoan <= '2022-01-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInJuly]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 7
CREATE PROC [dbo].[GetRevenueInJuly] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-07-01' 
AND     Ngaythanhtoan <= '2022-07-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInJune]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 6
CREATE PROC [dbo].[GetRevenueInJune]
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-06-01' 
AND     Ngaythanhtoan <= '2022-06-30'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInMar]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hóa đơn của tháng 3
CREATE PROC [dbo].[GetRevenueInMar] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-03-01' 
AND     Ngaythanhtoan <= '2022-03-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInMay]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy hóa đơn của tháng 5
CREATE PROC [dbo].[GetRevenueInMay]
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-05-01' 
AND     Ngaythanhtoan <= '2022-05-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInNov]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 11
CREATE PROC [dbo].[GetRevenueInNov] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-11-01' 
AND     Ngaythanhtoan <= '2022-11-30'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInOct]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 10
CREATE PROC [dbo].[GetRevenueInOct] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-10-01' 
AND     Ngaythanhtoan <= '2022-10-31'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueInSep]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy hóa đơn của tháng 9
CREATE PROC [dbo].[GetRevenueInSep] 
AS BEGIN
SELECT SUM(Tongtien) AS Revenue, Date = DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
FROM    HOADON
WHERE   Ngaythanhtoan >= '2022-09-01' 
AND     Ngaythanhtoan <= '2022-09-30'
GROUP BY DATEADD(MONTH, DATEDIFF(MONTH, 0, Ngaythanhtoan), 0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetTotalPrice]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy tổng tiền hóa đơn
CREATE PROC [dbo].[GetTotalPrice]
AS BEGIN
SELECT SUM(Giaban) from CHITIETHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[GetUnitPrice]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy giá sản phẩm in sản phẩm
CREATE PROC [dbo].[GetUnitPrice]
@name NVARCHAR(50)
AS BEGIN
SELECT Giaban_SP FROM SANPHAM WHERE Ten_SP = @name
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBill]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm hóa đơn
CREATE PROC [dbo].[InsertBill]
@employeeId INT, @customerId INT, @totalPrice FLOAT
AS BEGIN
ALTER TABLE HOADON NOCHECK CONSTRAINT ALL
DELETE FROM CHITIETHOADON
ALTER TABLE HOADON CHECK CONSTRAINT ALL

INSERT INTO HOADON VALUES
(@employeeId, @customerId, DEFAULT, @totalPrice)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBillInfo]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm chi tiết hóa đơn
CREATE PROC [dbo].[InsertBillInfo]
@productId INT, @quantity INT, @unitPrice FLOAT  
AS BEGIN
DECLARE @price FLOAT = @quantity * @unitPrice
UPDATE SANPHAM
SET Soluong_SP = Soluong_SP - @quantity
WHERE Id_SP = @productId

INSERT INTO CHITIETHOADON (Id_SanPham, Soluong, Giaban) VALUES
(@productId, @quantity, @price)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm khách hàng
CREATE PROC [dbo].[InsertCustomer]
@name NVARCHAR(50), @address NVARCHAR(50), @phoneNumber NVARCHAR(50)
AS BEGIN
INSERT INTO KHACHHANG VALUES
(@name, @address, @phoneNumber)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm nhân viên
CREATE PROC [dbo].[InsertEmployee]
@name NVARCHAR(50), @address NVARCHAR(50), @phoneNumber NVARCHAR(50), 
@email NVARCHAR(50), @role BIT, @status BIT, @password NVARCHAR(50)
AS BEGIN
INSERT INTO NHANVIEN VALUES
(@name, @address, @phoneNumber, @email, @role, @status, @password)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm sản phâm
CREATE PROC [dbo].[InsertProduct]
@name NVARCHAR(50), @quantity INT, @importUnitPrice FLOAT, @unitPrice FLOAT,
@image IMAGE, @note NVARCHAR(100)
AS BEGIN
INSERT INTO SANPHAM VALUES
(@name, @quantity, @importUnitPrice, @unitPrice, @image, @note)
END

GO
/****** Object:  StoredProcedure [dbo].[IsExistEmail]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--kiểm tra tồn tại EMail
CREATE PROC [dbo].[IsExistEmail]
@email NVARCHAR(50)
AS BEGIN
DECLARE @result BIT
IF EXISTS(SELECT * FROM NHANVIEN WHERE Email_NV = @email)
	SET @result = 1
ELSE
	SET @result = 0
SELECT @result
END

GO
/****** Object:  StoredProcedure [dbo].[ListBillInfo]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sách chi tiết hóa đơn
CREATE PROC [dbo].[ListBillInfo]
AS BEGIN
SELECT Id_SanPham, p.Ten_SP, b.Soluong, Giaban FROM CHITIETHOADON b, SANPHAM p
WHERE Id_SanPham = p.Id_SP
END

GO
/****** Object:  StoredProcedure [dbo].[ListCustomerIdName]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sách ID, Name của khách hàng
CREATE PROC [dbo].[ListCustomerIdName]
AS BEGIN
SELECT CONVERT(NVARCHAR(50), Id_KH) + ' | ' + Ten_KH FROM KHACHHANG
END

GO
/****** Object:  StoredProcedure [dbo].[ListOfBills]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sác hóa đơn
CREATE PROC [dbo].[ListOfBills]
AS BEGIN
SELECT b.Id_HD, c.Ten_KH, Ngaythanhtoan, Tongtien FROM HOADON b, KHACHHANG c
WHERE b.ID_KH = c.Id_KH
END

GO
/****** Object:  StoredProcedure [dbo].[ListOfCustomers]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sách khách hàng
CREATE PROC [dbo].[ListOfCustomers]
AS BEGIN
SELECT Id_KH, Ten_KH, Diachi_KH, Phone_KH FROM KHACHHANG
END

GO
/****** Object:  StoredProcedure [dbo].[ListOfEmployees]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sách nhân viên
CREATE PROC [dbo].[ListOfEmployees]
AS BEGIN
SELECT Id_NV, Hoten_NV, Diachi_NV, Sodienthoai_NV, Email_NV, Vaitro_NV, Tinhtrang_NV FROM NHANVIEN
END

GO
/****** Object:  StoredProcedure [dbo].[ListOfProducts]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Danh sách sản phẩm
CREATE PROC [dbo].[ListOfProducts]
AS BEGIN
SELECT Id_SP, Ten_SP, Soluong_SP, GiaNhap_SP, Giaban_SP, Hinhanh_SP, Ghichu_SP FROM SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[ListProductNameQuantity]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Danh sách số lượng, Name of sản phẩm 
CREATE PROC [dbo].[ListProductNameQuantity]
AS BEGIN
SELECT Ten_SP + ' | ' + CONVERT(NVARCHAR(50), Soluong_SP) FROM SANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Login]
@email NVARCHAR(50), @password NVARCHAR(50)
AS BEGIN
DECLARE @status BIT
IF EXISTS(SELECT * FROM NHANVIEN WHERE Email_NV = @email AND Matkhau_NV = @password)
	SET @status = 1
ELSE
	SET @status = 0
SELECT @status
END

GO
/****** Object:  StoredProcedure [dbo].[ReportBillInfo]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--In bill Info
CREATE PROC [dbo].[ReportBillInfo]
AS BEGIN
SELECT Id_SanPham, p.Ten_SP, b.Soluong, Giaban FROM CHITIETHOADON b, SANPHAM p
WHERE Id_SanPham = p.Id_SP
END

GO
/****** Object:  StoredProcedure [dbo].[SearchCustomer]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm khách hàng
CREATE PROC [dbo].[SearchCustomer]
@name NVARCHAR(50)
AS BEGIN
SELECT * FROM KHACHHANG WHERE Ten_KH LIKE '%' + @name + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SearchCustomerInBill]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm khách hàng in hóa đơn
CREATE PROC [dbo].[SearchCustomerInBill]
@name NVARCHAR(50)
AS BEGIN
SELECT b.Id_HD, c.Ten_KH, Ngaythanhtoan, Tongtien FROM HOADON b, KHACHHANG c
WHERE b.ID_KH = c.Id_KH AND c.Ten_KH LIKE '%' + @name + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SearchEmployee]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tìm kiếm  nhân viên
CREATE PROC [dbo].[SearchEmployee]
@name NVARCHAR(50)
AS BEGIN
SELECT Id_NV, Hoten_NV, Diachi_NV, Sodienthoai_NV, Email_NV, Vaitro_NV, Tinhtrang_NV FROM NHANVIEN WHERE Hoten_NV LIKE '%' + @name + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SearchProduct]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tìm kiếm sản phẩm
CREATE PROC [dbo].[SearchProduct]
@name NVARCHAR(50)
AS BEGIN
SELECT * FROM SANPHAM WHERE Ten_SP LIKE '%' + @name + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập khách hàng
CREATE PROC [dbo].[UpdateCustomer]
@id INT, @name NVARCHAR(50), @address NVARCHAR(50), @phoneNumber NVARCHAR(50)
AS BEGIN
UPDATE KHACHHANG
SET Ten_KH = @name, Diachi_KH = @address, Phone_KH = @phoneNumber
WHERE Id_KH = @id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập nhân viên
CREATE PROC [dbo].[UpdateEmployee]
@name NVARCHAR(50), @address NVARCHAR(50), @phoneNumber NVARCHAR(50), 
@email NVARCHAR(50), @role BIT, @status BIT
AS BEGIN
UPDATE NHANVIEN
SET Hoten_NV = @name, Diachi_NV = @address, Sodienthoai_NV = @phoneNumber,
Vaitro_NV = @role,Tinhtrang_NV = @status
WHERE @email = Email_NV
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeAddressPhoneNumber]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập địa chỉ và số điện thoại nhân viên
CREATE PROC [dbo].[UpdateEmployeeAddressPhoneNumber]
@address NVARCHAR(50), @phoneNumber NVARCHAR(50), @email NVARCHAR(50)
AS BEGIN
UPDATE NHANVIEN
SET Diachi_NV = @address, Sodienthoai_NV = @phoneNumber
WHERE @email = Email_NV
END

GO
/****** Object:  StoredProcedure [dbo].[UpdatePassword]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập mật khẩu
CREATE PROC [dbo].[UpdatePassword]
@email NVARCHAR(50), @password NVARCHAR(50)
AS BEGIN
UPDATE NHANVIEN
SET Matkhau_NV = @password
WHERE Email_NV = @email
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập sản phẩm
CREATE PROC [dbo].[UpdateProduct]
@id INT, @name NVARCHAR(50), @quantity INT, @importUnitPrice FLOAT, 
@unitPrice FLOAT, @image IMAGE, @note NVARCHAR(100)
AS BEGIN
UPDATE SANPHAM
SET Ten_SP = @name, Soluong_SP = @quantity, GiaNhap_SP = @importUnitPrice,
Giaban_SP = @unitPrice, Hinhanh_SP = @image, Ghichu_SP = @note
WHERE Id_SP = @id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateProductInBillInfo]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Cập nhập sản phẩm trong chi tiết hóa đơn
CREATE PROC [dbo].[UpdateProductInBillInfo]
@id int, @quantity int
AS BEGIN
UPDATE b
SET b.Soluong = @quantity, Giaban = @quantity * p.Giaban_SP
FROM SANPHAM p, CHITIETHOADON b
WHERE Id_SanPham = @id AND b.Id_SanPham = p.Id_SP
END

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[Id_SanPham] [int] NOT NULL,
	[Id_Hoadon] [int] NULL,
	[Soluong] [int] NULL,
	[Giaban] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[Id_HD] [int] IDENTITY(400,1) NOT NULL,
	[Id_NV] [int] NOT NULL,
	[ID_KH] [int] NOT NULL,
	[Ngaythanhtoan] [datetime] NULL DEFAULT (sysdatetime()),
	[Tongtien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[Id_KH] [int] IDENTITY(300,1) NOT NULL,
	[Ten_KH] [nvarchar](50) NOT NULL,
	[Diachi_KH] [nvarchar](50) NOT NULL,
	[Phone_KH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[Id_NV] [int] IDENTITY(100,1) NOT NULL,
	[Hoten_NV] [nvarchar](50) NOT NULL,
	[Diachi_NV] [nvarchar](50) NOT NULL,
	[Sodienthoai_NV] [nvarchar](50) NOT NULL,
	[Email_NV] [nvarchar](50) NOT NULL,
	[Vaitro_NV] [bit] NOT NULL,
	[Tinhtrang_NV] [bit] NOT NULL,
	[Matkhau_NV] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 13/12/2022 11:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[Id_SP] [int] IDENTITY(200,1) NOT NULL,
	[Ten_SP] [nvarchar](50) NULL DEFAULT (N''),
	[Soluong_SP] [int] NULL,
	[GiaNhap_SP] [float] NULL,
	[Giaban_SP] [float] NOT NULL,
	[Hinhanh_SP] [image] NOT NULL,
	[Ghichu_SP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([Id_HD], [Id_NV], [ID_KH], [Ngaythanhtoan], [Tongtien]) VALUES (400, 100, 300, CAST(N'2022-01-23 23:43:40.863' AS DateTime), 100000)
INSERT [dbo].[HOADON] ([Id_HD], [Id_NV], [ID_KH], [Ngaythanhtoan], [Tongtien]) VALUES (401, 100, 300, CAST(N'2022-07-24 15:49:30.810' AS DateTime), 400000)
INSERT [dbo].[HOADON] ([Id_HD], [Id_NV], [ID_KH], [Ngaythanhtoan], [Tongtien]) VALUES (402, 101, 301, CAST(N'2022-02-25 19:21:02.257' AS DateTime), 750000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([Id_KH], [Ten_KH], [Diachi_KH], [Phone_KH]) VALUES (300, N'Phan Thế Dũng', N'Tây Ninh', N'0987528559')
INSERT [dbo].[KHACHHANG] ([Id_KH], [Ten_KH], [Diachi_KH], [Phone_KH]) VALUES (301, N'Nguyễn Trọng Nghĩa', N'Nha Trang', N'0786888568')
INSERT [dbo].[KHACHHANG] ([Id_KH], [Ten_KH], [Diachi_KH], [Phone_KH]) VALUES (302, N'Nguyễn Thế Hữu', N'TP.HCM', N'0489895656')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([Id_NV], [Hoten_NV], [Diachi_NV], [Sodienthoai_NV], [Email_NV], [Vaitro_NV], [Tinhtrang_NV], [Matkhau_NV]) VALUES (100, N'Nguyễn Thành Thiện', N'Tây Ninh', N'15448488815', N'nguyenthanhthien@gmail.com', 1, 1, N'33354741122871651676713774147412831195')
INSERT [dbo].[NHANVIEN] ([Id_NV], [Hoten_NV], [Diachi_NV], [Sodienthoai_NV], [Email_NV], [Vaitro_NV], [Tinhtrang_NV], [Matkhau_NV]) VALUES (101, N'Nguyễn Ngọc Thiên', N'Nha Trang', N'0973145879', N'nguyenngocthien@gmail.com', 1, 1, N'33354741122871651676713774147412831195')
INSERT [dbo].[NHANVIEN] ([Id_NV], [Hoten_NV], [Diachi_NV], [Sodienthoai_NV], [Email_NV], [Vaitro_NV], [Tinhtrang_NV], [Matkhau_NV]) VALUES (102, N'Lý Văn Nhân', N'Nha Trang', N'0833322343', N'lyvannhan@gmail.com', 1, 1, N'33354741122871651676713774147412831195')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__F8A7313351654B25]    Script Date: 13/12/2022 11:24:07 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Phone_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__7113FE99A2F1F4E6]    Script Date: 13/12/2022 11:24:07 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[Sodienthoai_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([Id_Hoadon])
REFERENCES [dbo].[HOADON] ([Id_HD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SP])
GO
ALTER TABLE [dbo].[HOADON]  WITH NOCHECK ADD FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KHACHHANG] ([Id_KH])
GO
ALTER TABLE [dbo].[HOADON]  WITH NOCHECK ADD FOREIGN KEY([Id_NV])
REFERENCES [dbo].[NHANVIEN] ([Id_NV])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD CHECK  (([Soluong]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([GiaNhap_SP]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([Soluong_SP]>(0)))
GO

USE [master]
GO
